@use "@styles/themes/default/abstracts/abstracts" as *;

.categoryViewContainer {
    float: left;
    position: relative;
    width: 100%;

    .categoryMainWrapper {
        float: left;
        position: relative;
        width: 100%;
    }
}
