@use "@styles/themes/default/abstracts/abstracts" as *;

.itemViewContainer {
    float: left;
    position: relative;
    width: 100%;

    .itemSection {
        float: left;
        position: relative;
        width: 100%;

        &.main {
            background-color: $bg-main;
        }

        &.alternative {
            background-color: $bg-alt;
        }

        &.marginBottom {
            margin-bottom: 120px;

            @media (max-width: 1400px) {
                margin-bottom: clamp-size(80,120,320,1400);
            }
        }

        &.paddingTop {
            padding-top: 120px;

            @media (max-width: 1400px) {
                padding-top: clamp-size(80,120,320,1400);
            }

            &.compactPadding {
                padding-top: 60px;

                @media (max-width: 1400px) {
                    padding-top: clamp-size(30,60,320,1400);
                }
            }
        }

        &.paddingBottom {
            padding-bottom: 120px;

            @media (max-width: 1400px) {
                padding-bottom: clamp-size(80,120,320,1400);
            }

            &.compactPadding {
                padding-bottom: 60px;

                @media (max-width: 1400px) {
                    padding-bottom: clamp-size(30,60,320,1400);
                }
            }
        }

        &.paddingTopBottom {
            padding-bottom: 120px;
            padding-top: 120px;

            @media (max-width: 1400px) {
                padding-bottom: clamp-size(80,120,320,1400);
                padding-top: clamp-size(80,120,320,1400);
            }

            &.compactPadding {
                padding-bottom: 60px;
                padding-top: 60px;

                @media (max-width: 1400px) {
                    padding-bottom: clamp-size(30,60,320,1400);
                    padding-top: clamp-size(30,60,320,1400);
                }
            }
        }

        .sectionContentWrapper {
            float: left;
            position: relative;
            width: 100%;

            .sectionItems {
                float: left;
                position: relative;
                width: 100%;
            }
        }

        .sectionContentContainer  {
            float: left;
            position: relative;
            width: 100%;

            .sectionContentTitle {
                float: left;
                font-family: $font-family-serif;
                font-size: clamp-size(24,34,320,2000);
                font-weight: $weight-regular;
                line-height: $line-height-heading;
                position: relative;
                width: 100%;

                p:first-child {
                    margin-top: 0;
                }

                p:last-child {
                    margin-bottom: 0;
                }
            }

            .sectionContentText {
                float: left;
                font-size: 18px;
                position: relative;
                width: 100%;

                p:first-child {
                    margin-top: 0;
                }

                p:last-child {
                    margin-bottom: 0;
                }

                h3 {
                    font-size: 20px;
                    font-weight: $weight-regular;
                    line-height: $line-height-heading;
                    margin: 40px 0 0;

                    &:first-child {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}
