@use '../default/default-item' as *;

.itemViewContainer.location {
    float: left;
    position: relative;
    width: 100%;

    .itemHeaderContainer {
        margin-bottom: 120px;

        @media (max-width: 1400px) {
            margin-bottom: clamp-size(80,120,320,1400);
        }
    }
}
