.ccVideoContainer {
    float: left;
    position: relative;
    width: 100%;
    .ccVideo {
        cursor: pointer;
        overflow: hidden;
        padding-top: 56.25%;
        position: relative;
        iframe {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
        .ccVideoThumb {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
        .ccVideoPlayButton {
            border-radius: 50%;
            border: 2px solid #fff;
            cursor: pointer;
            height: 70px;
            left: 50%;
            overflow: hidden;
            position: absolute;
            top: 50%;
            -webkit-transition: all 0.3s ease 0s;
            -moz-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
            -webkit-transform: translate3d( -50%, -50%, 0 );
            -moz-transform: translate3d( -50%, -50%, 0 );
            transform: translate3d( -50%, -50%, 0 );
            width: 70px;
            z-index: 20;
            &::after {
                border-color: transparent transparent transparent #fff;
                border-style: solid;
                border-width: 7px 0 7px 10px;
                content: '';
                height: 0;
                left: 54%;
                position: absolute;
                top: 50%;
                -webkit-transform: translate3d( -50%, -50%, 0 );
                -moz-transform: translate3d( -50%, -50%, 0 );
                transform: translate3d( -50%, -50%, 0 );
                width: 0;
                @media (max-width: 580px) {
                    border-width: 6px 0 6px 12px;
                    left: 54%;
                    top: 50%;
                }
            }
            @media (max-width: 580px) {
                height: 50px;
                width: 50px;
            }
        }
    }
}