.modPlain.default {
    float: left;
    position: relative;

    .modPlainText {
        float: left;
        position: relative;
        width: 100%;

        p:first-child {
            margin-top: 0;
        }

        p:last-child {
            margin-bottom: 0;
        }
    }
}
