.modPlain.telephone {
    float: left;
    margin-right: 20px;
    padding-right: 20px;
    position: relative;
    transition: all $trans-slow;
    z-index: 20;

    @media(max-width: 400px) {
        margin-right: 5px;
        padding-right: 7px;
    }

    &:after {
        background-color: $text-main;
        content: '';
        height: 50px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: background $trans-slow;
        width: 1px;
    }

    .telephoneButton {
        float: left;
        position: relative;

        a {
            color: $text-main;
            float: left;
            position: relative;
            transition: background $trans-slow;
        }

        svg {
            float: left;
            height: 34px;
            width: 34px;

            path {
                fill: $text-main;
                transition: background $trans-slow;
            }
        }
    }
}
